.admin-form {
    label {
        margin-bottom: 0px;
        font-size: 12px;
    }
}

.control-btn {
  display: inline;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.js-retrieve-card-data {
  display: inline;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.create-card-content-tab {
  padding: 20px 10px;
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 20px;
}

.admin-view {
  ul.cards-list.classic {
    display: flex;
    flex-wrap: wrap;
    li.admin-list {
      span {
        display: inline-block;
        &:first-child {
          width: 85px;
          text-align: right;
        }
        &:last-child {
          width: 205px;
        }
      }
    }
  }
}

.admin-set-list {
  td {
    vertical-align: middle !important;
  }
}
