.content p a {
  color: #016456;
}

.content p a:hover {
  color: #016456;
  text-decoration: underline;
}


.content ul:not(.pagination, .visual) li::before {
  content: "■";
  color: #016456;
  margin-right: 6px;
}

.content ul li {
  color: #282828;
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 1.6;
}

fieldset.decklist {
  width: fit-content;
  padding: 20px;
  border: #888888 solid 1px;
  border-radius: 2px;
}

fieldset.decklist ul {
  margin: 20px 0 0;
}

fieldset.decklist span {
  color: #282828;
  font-family: 'OpenSans';
  font-size: 19px;
}

fieldset.decklist ul li.desc {
  margin: 5px 0;
}

fieldset.decklist ul li::before {
  content: "-";
}

fieldset.decklist ul li.desc::before {
  content: "";
  margin: 0;
}

.deckslist th {
  text-align: left;
}

.deckslist table {
  border-spacing: 0;
  width: 100%;
}

.deckslist table thead th {
  border-bottom: 1px solid #282828;
  padding: 0;
}

.hidden {
  display: none;
}

i.edit::before {
  content: ' ';
  width: 10px;
  height: 10px;
  position: absolute;
  background: url("svgs/edit-button.svg");
}

nav.page.pagination {
  background-color: #FFFFFF;
  text-align: center;
  text-align: center;
  width: 100%;
}

nav.page.pagination ul li {
  background-color: #016456;
  border-radius: 4px;
  height: 21px;
  display: inline-block;
}

nav.page.pagination a, nav.page.pagination span {
  padding: 5px;
  font-family: "OpenSans";
  font-weight: 300;
  color: #FFFFFF;
  font-size: 13px;
}

nav.page.pagination a:hover {
  background-color: #236852;
}

.content nav.page.pagination ul li::before {
  content: none;
}

.content ul.cards-list li.in_collection a {
  color: #249f01;
}

.content ul.cards-list li.playset a {
  color: #730083;
}



.set-add-collection-form {
  display: inline;
}

.cards-list.classic.collection span {
  width: 50%;
  display: inline-block;
}

.set-add-collection-form .disable {
  visibility: hidden;
}

.set-add-collection-form .btn-xs {
  line-height: 1;
  height: 18px;
  padding: 4px 4px 6px;
  font-size: 9px;
  font-weight: bolder;
  vertical-align: top;
}

.form-occurances {
  display: inline;
  max-width: 45px;
  height: 18px;
  margin-bottom: 2px;
  border: 1px solid #e6e6e6;
  -moz-appearance: textfield;
}

.form-occurances:hover, .form-occurances:focus {
  border: 1px solid #282828;
  -moz-appearance: number-input;
}

.views-selection a {
  color: #016456;
  &:hover {
    color: #016456;
  }
}
