.ms.ms-w.ms-cost{ data: { mana: 'w' } }
.ms.ms-u.ms-cost{ data: { mana: 'u' } }
.ms.ms-b.ms-cost{ data: { mana: 'b' } }
.ms.ms-r.ms-cost{ data: { mana: 'r' } }
.ms.ms-g.ms-cost{ data: { mana: 'g' } }
%br
.ms.ms-wp.ms-cost{ data: { mana: 's' } }
.ms.ms-up.ms-cost{ data: { mana: 't' } }
.ms.ms-bp.ms-cost{ data: { mana: 'v' } }
.ms.ms-rp.ms-cost{ data: { mana: 'z' } }
.ms.ms-gp.ms-cost{ data: { mana: 'y' } }
%br
.ms.ms-wu.ms-cost{ data: { mana: 'a' } }
.ms.ms-wb.ms-cost{ data: { mana: 'h' } }
.ms.ms-ub.ms-cost{ data: { mana: 'c' } }
.ms.ms-ur.ms-cost{ data: { mana: 'i' } }
.ms.ms-br.ms-cost{ data: { mana: 'd' } }
%br
.ms.ms-bg.ms-cost{ data: { mana: 'j' } }
.ms.ms-rw.ms-cost{ data: { mana: 'k' } }
.ms.ms-rg.ms-cost{ data: { mana: 'e' } }
.ms.ms-gw.ms-cost{ data: { mana: 'f' } }
.ms.ms-gu.ms-cost{ data: { mana: 'l' } }
%br
.ms.ms-2w.ms-cost{ data: { mana: 'm' } }
.ms.ms-2u.ms-cost{ data: { mana: 'n' } }
.ms.ms-2b.ms-cost{ data: { mana: 'o' } }
.ms.ms-2r.ms-cost{ data: { mana: 'p' } }
.ms.ms-2g.ms-cost{ data: { mana: 'q' } }
%br
.ms.ms-x.ms-cost{ data: { mana: 'x' } }
.ms.ms-s.ms-cost{ data: { mana: 'Snow' } }
.ms.ms-0.ms-cost{ data: { mana: '0' } }
%br
.ms.ms-1.ms-cost{ data: { mana: '1' } }
.ms.ms-2.ms-cost{ data: { mana: '2' } }
.ms.ms-3.ms-cost{ data: { mana: '3' } }
.ms.ms-4.ms-cost{ data: { mana: '4' } }
.ms.ms-5.ms-cost{ data: { mana: '5' } }
%br
.ms.ms-6.ms-cost{ data: { mana: '6' } }
.ms.ms-7.ms-cost{ data: { mana: '7' } }
.ms.ms-8.ms-cost{ data: { mana: '8' } }
.ms.ms-9.ms-cost{ data: { mana: '9' } }
.ms.ms-10.ms-cost{ data: { mana: '10' } }
%br
.ms.ms-11.ms-cost{ data: { mana: '11' } }
.ms.ms-12.ms-cost{ data: { mana: '12' } }
.ms.ms-13.ms-cost{ data: { mana: '13' } }
.ms.ms-14.ms-cost{ data: { mana: '14' } }
.ms.ms-15.ms-cost{ data: { mana: '15' } }
%br
.ms.ms-16.ms-cost{ data: { mana: '16' } }
.ms.ms-17.ms-cost{ data: { mana: '17' } }
.ms.ms-18.ms-cost{ data: { mana: '18' } }
.ms.ms-19.ms-cost{ data: { mana: '19' } }
.ms.ms-20.ms-cost{ data: { mana: '20' } }
