= link_to @set.name, set_data_path(@set)

.text-left
  %h3= @token.name

.row
  .col-sm-6
    %table.table
      %tr
        %td= @token.name
  .col-sm-6.text-center
    = image_tag(card_scryfall_image_url(@token), class: 'img-responsive')
