<h1>Magic : The gathering</h1>
<section>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <ul>
        <li>lorem ipsum dolor</li>
        <li>ullamco laboris nisi</li>
        <li>ullamco laboris nisi</li>
    </ul>
</section>
<section class="clear">
    <h2>Deck building</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <a href="#">ullamco laboris</a> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <fieldset class="decklist top-left">
        <span class="title">Humans</span>
        <i class="ms ms-b ms-cost"></i>
        <i class="ms ms-u ms-cost"></i>
        <i class="ms ms-w ms-cost"></i>
        <i class="ms ms-g ms-cost"></i>
        <i class="ms ms-r ms-cost"></i>
        <ul>
            <li class="desc">Main (60) :</li>
            <li><a>Champion of the Parish</a> x 4</li>
            <li><a>Dark Confidant</a> x 1</li>
            <li><a>Kessig Malcontents</a> x 1</li>
            <li><a>Kitesail Freebooter</a> x 4</li>
            <li><a>Mantis Rider</a> x 4</li>
            <li><a>Meddling Mage</a> x 4</li>
            <li><a>Noble Hierarch</a> x 4</li>
            <li><a>Phantasmal Image</a> x 4</li>
            <li><a>Reflector Mage</a> x 4</li>
            <li><a>Thalia's Lieutenant</a> x 4</li>
            <li><a>Thalia, Guardian of Thraben</a> x 3</li>
            <li><a>Aether Vial</a> x 4</li>
            <li><a>Ancient Ziggurat</a> x 4</li>
            <li><a>Cavern of Souls</a> x 4</li>
            <li><a>Horizon Canopy</a> x 4</li>
            <li><a>Plains</a> x 1</li>
            <li><a>Seachrome Coast</a> x 2</li>
            <li><a>Unclaimed Territory</a> x 4</li>
            <li class="desc">Sideboard (15) :</li>
            <li><a>Auriok Champion</a> x 2</li>
            <li><a>Izzet Staticaster</a> x 2</li>
            <li><a>Kataki, War's Wage</a> x 2</li>
            <li><a>Mirran Crusader</a> x 1</li>
            <li><a>Reclamation Sage</a> x 2</li>
            <li><a>Sin Collector</a> x 2</li>
            <li><a>Xathrid Necromancer</a> x 3</li>
            <li><a>Dismember</a> x 1</li>
        </ul>
    </fieldset>
    <p>
        <figure class="top-left">
            <img src="https://lordyawgmoth.com/uploads/card/image/throne-of-eldraine/1-acclaimed-contender.jpg" alt="Elephant at sunset">
            <figcaption>Best card ever !</figcaption>
        </figure>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <a href="#">eiusmod tempor incididunt</a> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>
<section>
    <h2>Liste de decks</h2>
    <div class="deckslist">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Colors</th>
                    <th>Format</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/my-decks/complet-fb-slivers">(COMPLET) [FB] Slivers!</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/complet-fb-slivers/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck (COMPLET) [FB] Slivers! ?" rel="nofollow" data-method="post" href="/my-decks/delete-complet-fb-slivers">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/complet-mv-bridgevine">(COMPLET) [MV] BridgeVine</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/complet-mv-bridgevine/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck (COMPLET) [MV] BridgeVine ?" rel="nofollow" data-method="post" href="/my-decks/delete-complet-mv-bridgevine">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/complet-mv-humans">(COMPLET) [MV] Humans</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/complet-mv-humans/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck (COMPLET) [MV] Humans ?" rel="nofollow" data-method="post" href="/my-decks/delete-complet-mv-humans">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/complet-p-death-shadow">(COMPLET) [P] Death shadow</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">black green</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/complet-p-death-shadow/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck (COMPLET) [P] Death shadow ?" rel="nofollow" data-method="post" href="/my-decks/delete-complet-p-death-shadow">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/complet-p-uw-controle">(COMPLET) [P] UW Controle</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">blue white</div>
                        <i class="ms ms-u ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/complet-p-uw-controle/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck (COMPLET) [P] UW Controle ?" rel="nofollow" data-method="post" href="/my-decks/delete-complet-p-uw-controle">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/complet-top8-silver">(COMPLET) [top8] Silver</a></td>
                    <td>MtgTop8</td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/complet-top8-silver/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck (COMPLET) [top8] Silver ?" rel="nofollow" data-method="post" href="/my-decks/delete-complet-top8-silver">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/cube">Cube</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td></td>
                    <td>
                        <a href="/my-decks/cube/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Cube ?" rel="nofollow" data-method="post" href="/my-decks/delete-cube">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/cube-review-legacy">Cube review (legacy)</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Legacy</td>
                    <td>
                        <a href="/my-decks/cube-review-legacy/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Cube review (legacy) ?" rel="nofollow" data-method="post" href="/my-decks/delete-cube-review-legacy">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/death-shadow-legacy">Death Shadow (Legacy)</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black blue</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i>
                    </td>
                    <td>Legacy</td>
                    <td>
                        <a href="/my-decks/death-shadow-legacy/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Death Shadow (Legacy) ?" rel="nofollow" data-method="post" href="/my-decks/delete-death-shadow-legacy">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-abzan-midrange">[FB] Abzan Midrange</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-abzan-midrange/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Abzan Midrange ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-abzan-midrange">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-ad-nauseum">[FB] Ad Nauseum</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-ad-nauseum/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Ad Nauseum ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-ad-nauseum">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-affinity">[FB] Affinity</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-affinity/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Affinity ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-affinity">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-death-s-shadow-aggro">[FB] Death’s Shadow Aggro</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Legacy</td>
                    <td>
                        <a href="/my-decks/fb-death-s-shadow-aggro/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Death’s Shadow Aggro ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-death-s-shadow-aggro">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-dredge">[FB] Dredge</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Legacy</td>
                    <td>
                        <a href="/my-decks/fb-dredge/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Dredge ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-dredge">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-elves">[FB] Elves!</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black green white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-elves/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Elves! ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-elves">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-grishoalbrand">[FB] Grishoalbrand</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-grishoalbrand/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Grishoalbrand ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-grishoalbrand">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-grixis-delver">[FB] Grixis Delver</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-grixis-delver/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Grixis Delver ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-grixis-delver">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-lantern-control">[FB] Lantern Control</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-lantern-control/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Lantern Control ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-lantern-control">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-living-end">[FB] Living End</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">black blue green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-living-end/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Living End ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-living-end">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/fb-naya-burn">[FB] Naya Burn</a></td>
                    <td>Channel Fireball</td>
                    <td>
                        <div class="hidden">green red white</div>
                        <i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/fb-naya-burn/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [FB] Naya Burn ?" rel="nofollow" data-method="post" href="/my-decks/delete-fb-naya-burn">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/jund-shadow">Jund shadow</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/jund-shadow/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Jund shadow ?" rel="nofollow" data-method="post" href="/my-decks/delete-jund-shadow">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/jund-shadow-autre-version">Jund shadow (autre version)</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/jund-shadow-autre-version/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Jund shadow (autre version) ?" rel="nofollow" data-method="post" href="/my-decks/delete-jund-shadow-autre-version">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mono-white-martyr-horizons">Mono White Martyr (Horizons)</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">green white</div>
                        <i class="ms ms-g ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td></td>
                    <td>
                        <a href="/my-decks/mono-white-martyr-horizons/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Mono White Martyr (Horizons) ?" rel="nofollow" data-method="post" href="/my-decks/delete-mono-white-martyr-horizons">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-8-racks">[MV] 8 Racks</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black</div>
                        <i class="ms ms-b ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-8-racks/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] 8 Racks ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-8-racks">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-blue-extra-turn">[MV] Blue Extra Turn</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">blue</div>
                        <i class="ms ms-u ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-blue-extra-turn/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Blue Extra Turn ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-blue-extra-turn">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-dredge">[MV] Dredge</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-dredge/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Dredge ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-dredge">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-dredgevine">[MV] Dredgevine</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-dredgevine/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Dredgevine ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-dredgevine">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-faeries-in-the-lock">[MV] Faeries in the lock</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-faeries-in-the-lock/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Faeries in the lock ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-faeries-in-the-lock">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-green-stompy">[MV] Green stompy</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black green white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-green-stompy/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Green stompy ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-green-stompy">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-gruul">[MV] Gruul</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">green red</div>
                        <i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-gruul/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Gruul ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-gruul">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-jund">[MV] Jund</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-jund/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] Jund ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-jund">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-the-rock">[MV] The rock</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue green</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-the-rock/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] The rock ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-the-rock">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/mv-wu-fly">[MV] WU fly</a></td>
                    <td>Magic ville</td>
                    <td>
                        <div class="hidden">black blue white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/mv-wu-fly/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [MV] WU fly ?" rel="nofollow" data-method="post" href="/my-decks/delete-mv-wu-fly">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/p-artefacts">[P] Artefacts</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">blue green red</div>
                        <i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/p-artefacts/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [P] Artefacts ?" rel="nofollow" data-method="post" href="/my-decks/delete-p-artefacts">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/p-burn-legacy">[P] Burn Legacy</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">red</div>
                        <i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Legacy</td>
                    <td>
                        <a href="/my-decks/p-burn-legacy/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [P] Burn Legacy ?" rel="nofollow" data-method="post" href="/my-decks/delete-p-burn-legacy">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/p-burn-modern">[P] Burn Modern</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">red</div>
                        <i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/p-burn-modern/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [P] Burn Modern ?" rel="nofollow" data-method="post" href="/my-decks/delete-p-burn-modern">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/p-elfes">[P] Elfes</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">green white</div>
                        <i class="ms ms-g ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/p-elfes/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [P] Elfes ?" rel="nofollow" data-method="post" href="/my-decks/delete-p-elfes">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/p-gobelin">[P] Gobelin</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">red</div>
                        <i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/p-gobelin/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [P] Gobelin ?" rel="nofollow" data-method="post" href="/my-decks/delete-p-gobelin">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/p-zombie">[P] Zombie</a></td>
                    <td>Perso</td>
                    <td>
                        <div class="hidden">black</div>
                        <i class="ms ms-b ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/p-zombie/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck [P] Zombie ?" rel="nofollow" data-method="post" href="/my-decks/delete-p-zombie">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/sarkhan-reanimate-prison">Sarkhan Reanimate Prison</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/sarkhan-reanimate-prison/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Sarkhan Reanimate Prison ?" rel="nofollow" data-method="post" href="/my-decks/delete-sarkhan-reanimate-prison">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/sarkhan-reanimate-prison-improved">Sarkhan Reanimate Prison [IMPROVED]</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/sarkhan-reanimate-prison-improved/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Sarkhan Reanimate Prison [IMPROVED] ?" rel="nofollow" data-method="post" href="/my-decks/delete-sarkhan-reanimate-prison-improved">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/temur-delver-deck-by-h0lydiver">Temur Delver deck, by h0lydiver</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black blue green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/temur-delver-deck-by-h0lydiver/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck Temur Delver deck, by h0lydiver ?" rel="nofollow" data-method="post" href="/my-decks/delete-temur-delver-deck-by-h0lydiver">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/the-rock-deck-by-upliftx">The Rock deck, by upliftx</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black green red white</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i><i class="ms ms-w ms-cost"></i>
                    </td>
                    <td>Modern, legacy</td>
                    <td>
                        <a href="/my-decks/the-rock-deck-by-upliftx/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck The Rock deck, by upliftx ?" rel="nofollow" data-method="post" href="/my-decks/delete-the-rock-deck-by-upliftx">Destroy</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/my-decks/wants">WANTS</a></td>
                    <td></td>
                    <td>
                        <div class="hidden">black blue green red</div>
                        <i class="ms ms-b ms-cost"></i><i class="ms ms-u ms-cost"></i><i class="ms ms-g ms-cost"></i><i class="ms ms-r ms-cost"></i>
                    </td>
                    <td></td>
                    <td>
                        <a href="/my-decks/wants/edit"><i class="edit"></i></a>
                        <a data-confirm="Supprimer le deck WANTS ?" rel="nofollow" data-method="post" href="/my-decks/delete-wants">Destroy</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="pager" class="page pagination" role="navigation">
            <ul>
                <li><a class="page prev" href="#">1</a></li>
                <li><span class="page current">2</span></li>
                <li><a class="page next" href="#">3</a></li>
                <li><a class="page last" href="#">13</a></li>
            </ul>
        </nav>
    </div>
</section>
