.login-pannel {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 25px;
  h2 {
    padding-bottom: 20px;
  }
  .block {
    margin-bottom: 15px;
    small {
      display: block;
    }
    .underline {
      text-decoration: underline;
    }
  }
}
