@import "colors";

.link {
  color: $brown;
  &:hover {
    color: $orange-dark;
  }
}

.btn-action {
  color: $white;
  background-color: #de8708;
  border: none;
  padding: 2px 8px 3px 8px;
  border-radius: 3px;
  &:hover {
    background-color: $orange-light;
  }
}
