.link {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.btn-action {
  color: #FFFFFF;
  background-color: #016456;
  border: none;
  padding: 2px 8px 3px 8px;
  border-radius: 3px;
  &:hover {
    background-color: #E8AC55;
  }
}

.content ul.cards-list {
  padding-left: 0;
  li {
    &::before {
      content: '';
    }
    a {
      @extend .link;
    }
  }
}

form.deck-quantity-form {
  display: inline;
}
