.sets-container {
  display: flex;

  .ext-type {
    width: 50%;

    &.block {
      padding: 0 20px 0 0;

      .ext-bloc {
        margin: 10px 0;
        display: block;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 3px 10px;
        a {
          display: inline-block;
          text-align: center;
          &.quart {
            width: 25%;
          }
          &.third {
            width: 33%;
          }
          &.semi {
            width: 50%;
          }
          &.full {
            width: 100%;
          }
        }
      }
    }

    &.others {
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      max-height: 1460px;

      .ext-list-type {
        width: 32%;

        .ext-base {
          margin: 0;
          border: 1px solid gray;
          border-radius: 3px;
          padding: 3px 10px;
          display: flex;
          flex-direction: column;

          a {
            position: relative;
            padding-left: 20px;
            margin: 3px;

            i {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
            }
          }
        }

        &.last {
          order: 12;
        }
      }
    }
    a {
      color: #626363;
      &:hover, &:focus, &:active {
        color: black;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .cards-list.classic {
    display: flex;
    .group {
      width: 20%;
      a {
        color: #282828;
      }
      a:hover {
        &.rarity-common {
          color: #1A1718;
        }
        &.rarity-uncommon {
          color: #707883;
        }
        &.rarity-rare {
          color: #A58E4A;
        }
        &.rarity-mythic {
          color: #BF4427;
        }
        &.rarity-timeshifted {
          color: #BF4427
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 668px) {
  ul.cards-list.classic li {
    width: 50%;
  }
}

@media (max-width: 667px) {
  ul.cards-list.classic li {
    width: 100%;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  &.cards-list {
    padding: 0;
    &.classic  {
      display: block;
    }
    li {
      float: left;
      .list-checkbox i {
        float: right;
        margin-right: 15px;
      }
    }
    &.visual {
      display: flex;
      flex-wrap: wrap;
      li {
        text-align: center;
        width: 200px;
        padding: 10px 10px 10px 0;
        float: none;
      }
      &.edition {
        li {
          min-height: 355px;
        }
      }
    }
    &.deck {
      li {
        padding: 0;
        margin: 5px;
        max-width: 150px;
        position: relative;
        min-height: 260px;
        .card-link, .card-link span {
          font-size: 10px;
          height: 10px;
          display: inline-block;
        }
        span.occur-number {
          position: absolute;
          font-size: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          padding: 3px 5px;
          line-height: 20px;
          border-radius: 4px;
        }
      }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.image-container img {
  max-width: 265px;
  display: block;
  margin: auto;
  &.verso {
    display: none;
  }
}

.other-frames ul {
  text-align: center;
  li {
    display: inline;
    &:before {
      content: none !important;
    }
    &:after {
      content: ',';
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
  }
}

.set-card-group {
  padding: 15px;
  border-radius: 4px;
  .bloc-mana {
    font-size: 15px;
    margin-bottom: 3px;
    display: inline-block;
  }
  .list-group-title {
    margin: 5px 0 10px 0;
    h3 {
      margin: 0;
      display: inline-block;
      text-shadow: #080808 1px 1px 1px;
    }
  }
  .cards-list + .list-group-title {
    margin: 15px 0 10px 0;
  }
  + .set-card-group {
    margin-top: 20px;
  }
  &.white {
    background: #f9f1b821;
    color: #f9f1b8;
    border: 1px solid #edd211;
    .card span {
      color: #daa642;
    }
  }
  &.blue {
    background: #c3ecf92e;
    color: #00c4ff;
    border: 1px solid #00c4ff;
  }
  &.black {
    background: #80808024;
    color: #333333;
    border: 1px solid #333333;
  }
  &.red {
    background: #ff88881a;
    color: #ff5454;
    border: 1px solid #ff5454;
  }
  &.green {
    background: #94ef9421;
    color: #5a9c5a;
    border: 1px solid #5a9c5a;
  }
  &.gold, &.hybrid {
    background: #f1da9d24;
    color: #f3b919;
    border: 1px solid #f3b919;
  }
  &.artefact {
    background: #d6d6d62e;
    color: #a5a4a4;
    border: 1px solid #a5a4a4;
  }
  &.land {
    background: #93582c1a;
    color: #b45922;
    border: 1px solid #a15e2d;
  }
  &.colorless {
    background: #e2e1e12e;
    color: #717171;
    border: 1px solid #717171;
  }
}


a.card-link {
  i.ss-grad {
    margin-right: 5px;
  }
}

.card-show {
  header {
    text-align: center;
  }
  .set-navigation {
    text-align: center;
    padding: 10px 0 30px;
    a {
      color: #8c8c8c;
      font-size: 13px;
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
    form {
      display: inline;
      input {
        max-width: 50px;
        text-align: center;
        border-radius: 4px;
        border: #ccc solid 1px;
      }
    }
  }
}
