@font-face {
  font-family: "Beleren";
  font-weight: bold;
  src: font-url('Beleren2016-Bold.svg'), font-url('Beleren2016-Bold.ttf'), font-url('Beleren2016-Bold.woff');
}
@font-face {
  font-family: "Beleren small caps";
  font-style: italic;
  font-weight: bold;
  src: font-url('Beleren2016SmallCaps-BoldItalic.svg'), font-url('Beleren2016SmallCaps-BoldItalic.ttf'), font-url('Beleren2016SmallCaps-BoldItalic.woff');
}
@font-face {
  font-family: "Beleren small caps";
  font-weight: bold;
  src: font-url('Beleren2016SmallCaps-Bold.svg'), font-url('Beleren2016SmallCaps-Bold.ttf'), font-url('Beleren2016SmallCaps-Bold.woff');
}
