.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  & + .container {
    margin-top: 90px;
    padding: 30px;
  }

  .main-nav {
    background-color: #016456;
    position: relative;
    z-index: 4;

    .nav-wrapper {
      position: relative;
      margin: auto;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0 50px 0 0;
        display: inline-block;

        & + ul {
          position: absolute;
          right: 0;
          margin: 0;
        }

        li {
          display: inline-block;
          position: relative;
          padding: 20px 0;

          &.root-link {
            padding: 6px 0;
          }

          a {
            display: block;
            padding: 9px 12px;
            text-align: center;
            text-transform: uppercase;
            color: #f0f0f0;
            font-size: 16px;
            text-decoration: none;
            font-family: "Oxygen";
            font-weight: 700;
            letter-spacing: 1.1px;
          }
        }
      }
    }
  }
}
