.link {
  color: #9e5f00;
  &:hover {
    color: #de8708;
  }
}

.btn-action {
  color: #FFFFFF;
  background-color: #de8708;
  border: none;
  padding: 2px 8px 3px 8px;
  border-radius: 3px;
  &:hover {
    background-color: #E8AC55;
  }
}
body {
  margin: 0;
}

body * {
  font-family: Verdana;
}

h1 {
  padding: 0;
  font-size: 26px;
  font-family: Verdana;
  color: #282828;
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 1;
}

h2 {
  @extend h1;
  font-size: 20px;
  margin: 14px 0;
}

.link {
  color: #9e5f00;
  &:hover {
    color: #de8708;
  }
}

.container {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 60px;
}

.content p, .content th, .content td {
  color: #282828;
  font-family: Verdana;
  font-size: 14px;
  margin: 20px 0;
  line-height: 1.4;
}

.top-left {
  float: left;
  margin: 0 20px 20px 0;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.content p a {
  color: #9e5f00;
  text-decoration: none;
}

.content p a:hover {
  color: #de8708;
  text-decoration: underline;
}

.content ul {
  list-style-type: none;
  padding-left: 5px;
}

.content ul li::before {
  content: "■";
  color: #de8708;
  margin-right: 6px;
}

.content ul li {
  color: #282828;
  font-family: Verdana;
  font-size: 14px;
  line-height: 1.4;
}

fieldset.decklist {
  width: fit-content;
  padding: 20px;
  border: #888888 solid 1px;
  border-radius: 2px;
}

fieldset.decklist ul {
  margin: 20px 0 0;
}

fieldset.decklist span {
  color: #282828;
  font-family: Verdana;
  font-size: 19px;
}

fieldset.decklist ul li.desc {
  margin: 5px 0;
}

fieldset.decklist ul li::before {
  content: "-";
}

fieldset.decklist ul li.desc::before {
  content: "";
  margin: 0;
}

.deckslist th {
  text-align: left;
}

.deckslist table {
  border-spacing: 0;
  width: 100%;
}

.deckslist table thead th {
  border-bottom: 1px solid #282828;
  padding: 0;
}

.deckslist td {
}

.hidden {
  display: none;
}

i.edit::before {
  content: ' ';
  width: 10px;
  height: 10px;
  position: absolute;
  background: url("svgs/edit-button.svg");
}

nav.page.pagination {
  background-color: #FFFFFF;
  text-align: center;
  text-align: center;
  width: 100%;
}

nav.page.pagination ul li {
  background-color: #de8708;
  border-radius: 4px;
  height: 21px;
  display: inline-block;
}

nav.page.pagination a, nav.page.pagination span {
  padding: 5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #FFFFFF;
  font-size: 13px;
}

nav.page.pagination a:hover {
  background-color: #E8AC55;
}

.content nav.page.pagination ul li::before {
  content: none;
}

figcaption {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  color: #888888;
}

.breadcrumb  {
  padding: 0;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  a {
    @extend .link;
  }
}


.content ul.cards-list li.in_collection a {
  color: #249f01;
}

.content ul.cards-list li.playset a {
  color: #730083;
}


.set-add-collection-form {
  display: inline;
}
.cards-list.classic.collection span {
  width: 50%;
  display: inline-block;
}
.set-add-collection-form .disable {
  visibility: hidden;
}
.set-add-collection-form .btn-xs {
  line-height: 1;
  height: 18px;
  padding: 4px 4px 6px;
  font-size: 9px;
  font-weight: bolder;
  vertical-align: top;
}

.form-occurances {
  display: inline;
  max-width: 45px;
  height: 18px;
  margin-bottom: 2px;
  border: 1px solid #e6e6e6;
  -moz-appearance: textfield;
}
.form-occurances:hover, .form-occurances:focus {
  border: 1px solid #282828;
  -moz-appearance: number-input;
}
