@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: font-url('OpenSans-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: font-url('OpenSans-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: font-url('OpenSans-SemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: font-url('OpenSans-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: "Oxygen";
  font-weight: 300;
  src: font-url('Oxygen-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: "Oxygen";
  font-weight: 400;
  src: font-url('Oxygen-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: "Oxygen";
  font-weight: 700;
  src: font-url('Oxygen-Bold.ttf');
  font-display: swap;
}
