footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;

  ul {
    background-color: #016456;
    list-style-type: none;
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin: 0 20px;

      a {
        color: #f0f0f0;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Oxygen";
        font-weight: 700;
        letter-spacing: 1.1px;
        font-size: 13px;

        &:hover, &:active, &:focus {
          color: #f0f0f0;
          text-decoration: none;
        }
      }
    }
  }
}
