%table.table.js-extension-cards
  - @extensions.each do |set|
    %tr
      %td.col-md-8= link_to set.name, extension_set_path(slug: set.slug)
      %td.col-md-3= set.cards.count
      %td.col-md-1
        = link_to 'voir', extension_set_path(slug: set.slug), class: 'btn btn-primary btn-xs'
