/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery-ui
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

/* REPRINT DECK EDITOR MODAL */

#edit-visual .modal-body {overflow-x: auto !important; overflow-y: auto;}
#edit-visual ul {width: auto !important; text-align: center;}
#edit-visual .print-selection {float: none !important; display: inline-block !important; width: 33.33333% !important}
#edit-visual .print-selection img.inline {opacity: .5; transition: 300ms; width: 100% !important; box-sizing: border-box; padding: 5%;}
#edit-visual .print-selection img.inline:hover, .print-selection .print-selected {opacity: 1 !important; cursor: pointer;}

