@font-face {
  font-family: 'imagine';
  src: url('imagine_font.ttf')  format('truetype'); /* Legacy iOS */
}

@font-face {
  font-family: 'aerial';
  src: url('aerial.ttf')  format('truetype'); /* Legacy iOS */
}
