.navbar {
  margin-bottom: 0;
  .connexion-link {
    font-weight: bold;
  }
}

.main-container {
  width: 1300px;
  margin: auto;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  padding: 30px 0;
  p.notice {
    border: 2px solid #055400;
    background-color: #5ec981;
    font-weight: bold;
    border-radius: 0;
    padding: 20px;
  }
  p.alert {
    background-color: #ffc4c4;
    font-weight: bold;
    border: 2px solid #db0000;
    border-radius: 0;
    padding: 20px;
  }
}

.popover {
  background-color: transparent;
  border: none;
  .popover-content {
    padding: 0;
  }
}

.card-view {
  font-family: Verdana;
}

.card-title {
  overflow: auto;
  padding: 2px;
  border-radius: 13px;
  color: white;
  font-weight: bold;
  background-color: #333;
  font-family: Verdana;
  .pull-left {
    margin-top: 2px;
    margin-left: 5px;
  }
}

h1 {
  margin-bottom: 30px;
}

section {
  margin: 20px 0;
}

.devise-form {
  input.form-control {
    max-width: 400px;
  }
}

form {
  &.add-to-deck {
    display: inline;
  }
  .form-group {
    &.has-error {
      color: #a94442;
    }
  }
}
