* {
  font-family: 'Verdana';
}

form.deck-quantity-form {
  display: inline;
}
html {
  overflow-y: visible;
}
img.list-set-logo {
  max-width: 150px;
  width: auto;
  max-height: 50px;
  height: auto;
}
h3 {
  font-size: 18px;
}
.navbar {
  margin-bottom: 0;
  .container-fluid {
    max-width: 1300px;
    width: 100%;
    .navbar-brand {
      padding-left: 0;
    }
    #menu-card-search {
      margin-right: -45px;
    }
  }
  .connexion-link {
    font-weight: bold;
  }
}

.main-container {
  max-width: 1300px;
  margin: auto;
  width: unset;
  padding: 30px 0;
  p.notice {
    border: 2px solid #055400;
    background-color: #5ec981;
    font-weight: bold;
    border-radius: 0;
    padding: 20px;
  }
  p.alert {
    background-color: #ffc4c4;
    font-weight: bold;
    border: 2px solid #db0000;
    border-radius: 0;
    padding: 20px;
  }
}

@media (max-width: 1300px) {
  .main-container {
    padding: 30px 50px;
  }
}

span.rarity-common {
  color: #000000;
  font-weight: bold;
  font-size: 13px;
}
span.rarity-uncommon {
  color: #AEAEAE;
  font-weight: bold;
  font-size: 13px;
}
span.rarity-rare {
  color: #C4AA00;
  font-weight: bold;
  font-size: 13px;
}
span.rarity-mythic {
  color: #D71E00;
  font-weight: bold;
  font-size: 13px;
}

.popover {
  background-color: transparent;
  border: none;
  .popover-content {
    padding: 0;
  }
}

.card-view {
  font-family: Verdana;
}

h1 {
  margin-bottom: 30px;
}

section {
  margin: 20px 0;
}

.devise-form {
  input.form-control {
    max-width: 400px;
  }
}

form {
  &.add-to-deck {
    display: inline;
  }
  .form-group {
    &.has-error {
      color: #a94442;
    }
  }
}

.options {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .modes {
    .selection-mode {
      margin-top: 15px;
    }
  }
}

@media (min-width: 992px) {
  ul.cards-list.classic li {
    width: 33%;
  }
}

@media (max-width: 991px) and (min-width: 668px) {
  ul.cards-list.classic li {
    width: 50%;
  }
}

@media (max-width: 667px) {
  ul.cards-list.classic li {
    width: 100%;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  &.cards-list {
    padding: 0;
    &.classic  {
      display: block;
    }
    li {
      float: left;
      .list-checkbox i {
        float: right;
        margin-right: 15px;
      }
    }
    &.visual {
      li {
        text-align: center;
        width: 200px;
        padding: 10px 10px 10px 0;
        min-height: 340px;
      }
      &.edition {
        li {
          min-height: 355px;
        }
      }
    }
    &.deck {
      li {
        padding: 0;
        margin: 5px;
        max-width: 150px;
        position: relative;
        .card-link, .card-link span {
          font-size: 10px;
          height: 10px;
          display: inline-block;
        }
        span.occur-number {
          position: absolute;
          font-size: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          padding: 3px 5px;
          line-height: 20px;
          border-radius: 4px;
        }
        min-height: 240px;
      }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

// pretty checkbox my customisation
.pretty {
  .state label:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

// Custom radio css
.pretty-radio {
  position: absolute;
  left: -9999px;
  &:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  & + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 15px;
    display: inline-block;
    font-weight: normal;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #bdc3c7;
      border-radius: 100%;
      background: #fff;
    }
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      background: #5cb85c ;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
}

.filter {
  max-width: 300px;
}

.mana-xs {
  height: 16px;
  width: 16px;
}

.bloc-row {
  border: 2px solid #868686;
}

.table.bloc-table {
  border: none;
  .table {
    margin-bottom: 0;
  }
  tr {
    border: none;
    td {
      border: none;
      padding: 5px 0;
    }
  }
}

.filter {
  position: relative;
}

.filters {
  position: absolute;
  top: 23px;
  right: 0;
  width: 250px;
  background: white;
  border: 1px solid #bdbdbd;
  padding: 10px;
  border-radius: 3px;
  .pretty, .filter-by-link {
    display: block;
    &.pretty {
      margin: 5px 0;
    }
  }
}

button.quantity-btn {
    background-color: #f5f5f5;
    border: 1px #8a8a8a solid;
    font-size: 11px;
    border-radius: 2px;
    padding: 1px 10px 1px 10px;
    display: inline-block;
}
