%h1 Listes de souhait

= link_to new_wishlist_path, class: 'btn btn-xs btn-primary' do
  %span.glyphicon.glyphicon-plus
  Nouvelle liste de souhait

%section.deck-list

- if @wishlists.any?
  .table-responsive
    %table.table.table-hover
      - @wishlists.each do |wishlist|
        %tr
          %td.col-sm-4= link_to wishlist.name, wishlist_path(id: wishlist.id)
          %td.col-sm-4= link_to 'editer', edit_wishlist_path(id: wishlist.id)
          %td.col-sm-4= link_to 'supprimer', destroy_wishlist_path(id: wishlist.id), method: 'delete'
- else
  %p Vous n'avez aucune liste
