%br
Main :
%ul.cards-list.visual.main-deck.edition
  - @main_cards.decorate.each do |card|
    = render partial: 'decks/edit/card_in_maindeck', locals: { card: card, deck: @deck }
Sideboard :
%ul.cards-list.visual.side-board.edition
  - @sideboards.decorate.each do |card|
    = render partial: 'decks/edit/card_in_sideboard', locals: { card: card, deck: @deck }
