%h1 Public decks

%section.deck-list

- if @decks.any?
  %ul
    - @decks.each do |deck|
      %li.row
        .col-sm-4
          = link_to deck.name, public_deck_path(id: deck.id)
          par
          = link_to deck.user.name, user_path(id: deck.user.id)
        .col-sm-2
          = show_mana_cost(deck)
        .col-sm-3= deck.formats
- else
  %p No public decks.
